DB_USERNAME = "username"
DB_PASSWORD = "password"
DB_HOST = "db_url_or_ip"
DB_PORT = 3306
DB_NAME = "database"
INPUT_CSV_DIR = './input_csvs'
OUTPUT_CSV_PATH = './output.csv'
TIMESTAMP_FORMAT = '%Y-%m-%d %H:%M:%S'
OUTPUT_CSV = False
UPLOAD_TO_DB = True